[submodule "deps/git-subrepo"]
	path = deps/git-subrepo
	url = https://github.com/ingydotnet/git-subrepo.git
[submodule "modules/mod-autobalance"]
	path = modules/mod-autobalance
	url = git@github.com:azerothcore/mod-autobalance.git
